# Frontend API URL (leave empty for Vite proxy in development)
VITE_API_URL=

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyCxsHyw6YwNGZ0mi2HF8kX9KYxs08g-cH0
VITE_FIREBASE_AUTH_DOMAIN=curanet-a36d6.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=curanet-a36d6
VITE_FIREBASE_STORAGE_BUCKET=curanet-a36d6.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=704696197812
VITE_FIREBASE_APP_ID=1:704696197812:web:cb0161da4b39450ff5ede1
VITE_FIREBASE_MEASUREMENT_ID=G-LJX0YGQK0S

# Google reCAPTCHA Enterprise Site Key
VITE_RECAPTCHA_SITE_KEY=6LeoD6EtAAAAAOi1ikbDSV3FvIBAK4VYDoMNmN3k
